h1 {
    font-family: sans-serif;
}

.read {
    background-color: #98fb98
}

.btn-success {
    background-color: #9370DB;
    border-color: #9370DB;
}

.jumbotron {
    align-content: center;
    align-items: center;
}

.homepage-button {
    display: inline-block;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
}

.modal {
    text-align: left;
}