.navbar {
    margin: 0;
    margin-bottom: 10px;
}

h1 {
    font-family: sans-serif;
}

.read {
    background-color: #98fb98
}

.btn-success {
    background-color: #9370DB;
    border-color: #9370DB;

}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #8A2BE2;
    border-color: #8A2BE2;
}

.btn-primary {
    border-radius: 24px;
}

.jumbotron-home {
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}


.homepage-button {
    display: inline-block;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
}

.modal {
    text-align: left;
}

body.home {
    background: url(/static/img/books.jpg) no-repeat;
    background-size: 100%;

}

.panel {
    width: 30%
}
