{% extends 'base.html' %}
{% block content %}

<h1>What is Book Bingo?</h1><br>
<p>It's bingo, but with a reading twist - each square corresponds to a genre,
and when you read a book that fits that genre, fill the square in with the book's
title and author. When you've read books corresponding to five squares in a row,
you get bingo! Use it to set reading goals for yourself, or play against friends.</p>

<h1>How do I play?</h1>
<p>Sign up for an account, and create a new board. Choose any 24 genres that 
you want! (Can't think of 24 genres? Don't worry - there are plenty of 
suggestions.) Once you have a board, get ready to start reading!</p>


{% endblock %}