{% extends 'base.html' %}
{% block content %}

<body class="about">

<h2 class="center-title">What is Book Bingo?</h2><br>
<p>It's bingo, but with a reading twist - each square corresponds to a genre,
and when you read a book that fits that genre, fill the square in with the book's
title and author. When you've read books corresponding to five squares in a row,
you get bingo! Use it to set reading goals for yourself, or play against friends.</p>

<h2 class="center-title">How do I play?</h2><br>
<p>Sign up for an account and create a new board to get started. Choose any 24 genres that 
you want! (Can't think of 24 genres? Don't worry - there are plenty of 
suggestions.) Once you have a board, get ready to start reading! To enter a book
in a genre square, click "Explore This Genre" and enter your book's information.</p>

<h2 class="center-title">How do I share a board?</h2><br>
<p>It's easy to play with friends! Copy the share link at the bottom of the board
you want to share, and send it to a friend. When they log in through that link,
they'll be added to the board.</p>

<h2 class="center-title">That description isn't for the book I read! What's going on?</h2>
<p>Book Bingo uses the Goodreads API to find descriptions. If your book has a common
title, it's possible that it didn't find the right book. This issue will be addressed
in version 2.0!</p>

</body>


{% endblock %}