{% extends 'base.html' %}
{% block content %}

<!-- To do: -->
<!-- Connect input to goodreads api -->

<div id="board">
    <h1>Book Bingo!</h1>
    <table style="width:100%" border="1">
    {% for row in board_rows %}
        <tr>
        {% for square_id, genre_id, title, author, user_id, genre_name in row %}
            <td id="square-{{ square_id }}" {% if title %} class="read" {% endif %}> {{ genre_name }} <br>
                {% if genre_name != "FREE SQUARE" %}
                    {% if title %}
                        {{title}} by {{author}}
                    {% else %}
                    <div id="submission-form">
                    <form>
                        <div id="data-fields-{{ square_id }}">
                        <input name="title" type="text" class="book" placeholder="Book Title" data-square-id="{{ square_id }}"><br>
                        <input type="text" name="author" class="author" placeholder="Author""><br>
                        <input name="submit" type="submit" value="Submit" class="submit"">
                        </div>
                    </form>
                        <div class="books-read" id="books-read-{{ square_id }}"></div>
                    </div>
                    {% endif %}
                {% endif %}
            </td>
            </div>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

</div>

<script type="text/javascript">

    "use strict";
    
    // Ajax call success function
    function showTitle(result){
        console.log(result);


        $("#books-read-" + result.square_id).html(result.title + " by " + result.author);
        $("#square-" + result.square_id).addClass("read");
        $("#data-fields-" + result.square_id).hide();

        // debugger;

        console.log('done!');


    }

    // When submit is clicked, target that individual book text input
    $(function() {
      $(".submit").on("click", function(event) {
        event.preventDefault();
        var book = $(this).siblings(".book");
        var author = $(this).siblings(".author");

        var formInputs = {
            "book": book.val(),
            "square_id": book.data("square-id"),
            "author": author.val(),
        }

        $.post("/update-board.json",
                formInputs,
                showTitle
            )
      })    
    });
    

</script>




{% endblock %}