{% extends 'base.html' %}
{% block content %}

    <h1>New Board</h1>
    <p> Please enter the following details to create a new board:</p>
    <div>
    <form action="/create-board" method="POST">
    Board Name: <input type="text" name="board-name"><br>
    <p>Choose 24 genres to fill out your bingo board:</p>
    Genre #1: <input type="text" name="genre1" id="genre1" value="Fiction" required><br>
    Genre #2: <input type="text" name="genre2" id="genre2" value="Fantasy" required><br>
    Genre #3: <input type="text" name="genre3" id="genre3" value="Memoir" required><br>
    Genre #4: <input type="text" name="genre4" id="genre4" value="Literary Classic" required><br>
    Genre #5: <input type="text" name="genre5" id="genre5" value="Short Stories" required><br>
    Genre #6: <input type="text" name="genre6" id="genre6" value="Female Author" required><br>
    Genre #7: <input type="text" name="genre7" id="genre7" value="More Than 500 Pages" required><br>
    Genre #8: <input type="text" name="genre8" id="genre8" value="Non-Fiction" required><br>
    Genre #9: <input type="text" name="genre9" id="genre9" value="Science Fiction" required><br>
    Genre #10: <input type="text" name="genre10" id="genre10" value="Banned Book" required><br>
    Genre #11: <input type="text" name="genre11" id="genre11" value="Magical Realism" required><br>
    Genre #12: <input type="text" name="genre12" id="genre12" value="True Crime" required><br>
    Genre #13: <input type="text" name="genre13" id="genre13" value="Historical Fiction" required><br>
    Genre #14: <input type="text" name="genre14" id="genre14" value="Graphic Novel" required><br>
    Genre #15: <input type="text" name="genre15" id="genre15" value="Written The Year You Were Born" required><br>
    Genre #16: <input type="text" name="genre16" id="genre16" value="Dystopia" required><br>
    Genre #17: <input type="text" name="genre17" id="genre17" value="Book Involving Music" required><br>
    Genre #18: <input type="text" name="genre18" id="genre18" value="Recommended By A Friend" required><br>
    Genre #19: <input type="text" name="genre19" id="genre19" value="Biography" required><br>
    Genre #20: <input type="text" name="genre20" id="genre20" value="YA Fiction" required><br>
    Genre #21: <input type="text" name="genre21" id="genre21" value="Romance" required><br>
    Genre #22: <input type="text" name="genre22" id="genre22" value="Color In the Title" required><br>
    Genre #23: <input type="text" name="genre23" id="genre23" value="National Book Award Winner" required><br>
    Genre #24: <input type="text" name="genre24" id="genre24" value="Horror" required><br>
    <input type="submit" class="btn btn-success" value="Play Bingo!">
    </form>
    </div>

{% endblock %}