{% extends 'base.html' %}
{% block content %}

    <h1>New Board</h1>
    <p> Please enter the following details to create a new board:</p>
    <div>
    <form action="/create-board" method="POST">
    Board Name: <input type="text" name="board-name" id="board-name"><br>
    <p>Choose 24 genres to fill out your bingo board:</p>
    Genre #1: <input type="text" name="genre1" id="genre1"><br>
    Genre #2: <input type="text" name="genre2" id="genre2"><br>
    Genre #3: <input type="text" name="genre3" id="genre3"><br>
    Genre #4: <input type="text" name="genre4" id="genre4"><br>
    Genre #5: <input type="text" name="genre5" id="genre5"><br>
    Genre #6: <input type="text" name="genre6" id="genre6"><br>
    Genre #7: <input type="text" name="genre7" id="genre7"><br>
    Genre #8: <input type="text" name="genre8" id="genre8"><br>
    Genre #9: <input type="text" name="genre9" id="genre9"><br>
    Genre #10: <input type="text" name="genre10" id="genre10"><br>
    Genre #11: <input type="text" name="genre11" id="genre11"><br>
    Genre #12: <input type="text" name="genre12" id="genre12"><br>
    Genre #13: <input type="text" name="genre13" id="genre13"><br>
    Genre #14: <input type="text" name="genre14" id="genre14"><br>
    Genre #15: <input type="text" name="genre15" id="genre15"><br>
    Genre #16: <input type="text" name="genre16" id="genre16"><br>
    Genre #17: <input type="text" name="genre17" id="genre17"><br>
    Genre #18: <input type="text" name="genre18" id="genre18"><br>
    Genre #19: <input type="text" name="genre19" id="genre19"><br>
    Genre #20: <input type="text" name="genre20" id="genre20"><br>
    Genre #21: <input type="text" name="genre21" id="genre21"><br>
    Genre #22: <input type="text" name="genre22" id="genre22"><br>
    Genre #23: <input type="text" name="genre23" id="genre23"><br>
    Genre #24: <input type="text" name="genre24" id="genre24"><br>
    <input type="submit" value="Blay Bingo!">
    </form>
    </div>

{% endblock %}