{% extends 'base.html' %}
{% block content %}

    <h2 class="center-title">Register</h2>
    <h4 class="center-title"> Please enter the following details to register:</h4><br>
    <form action="/register" method="POST">
    <h4>First Name:</h4> <input type="text" class="form-control" name="f-name" id="f-name">
    <h4>Last Name:</h4> <input type="text" class="form-control" name="l-name" id="l-name">
    <h4>Email:</h4> <input type="text" class="form-control" name="email" id="email">
    <h4>Password:</h4> <input type="password" class="form-control" name="password" id="password"><br>
    <input type="submit" class="btn btn-success" value="Submit" id="register-submit">
    </form>

{% endblock %}