{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div class="jumbotron jumbotron-user">
<h1 class="text-center"> Welcome, {{first_name}}! </h1> <br>

    <a class="btn btn-success" href="/create-board" id= "new-board-btn" role="button">Create A New Board</a><br>

    {% if boards %}
    <h2>Your boards: </h2>
        <ul>
      {% for board_name, board_id in boards %}
          <li>
                <a href="/board/{{board_id}}"> {{ board_name }}
          </li>
      {% endfor %}
      <br>
      {% else %}
      <p>You have no boards yet! Create a board to get started.</p>
      {% endif %}

</div>
</div>

{% endblock %}